<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->
<div class="container">

<div class="d-flex justify-content-center " style="padding-top: 50px;"> 
    <div>
        <div class="d-flex justify-content-center ">
        <img src="/images/club/bear.jpg" style="width:290px;height: 290px;">
        </div>
        <h3 class="navy pb-4" align="center">현재 찾을 수 없는 페이지를 요청하셨습니다.</h3>
        <h5 class="navy" align="center">존재하지 않는 주소를 입력하셨거나,</h5>
        <h5 class="navy" align="center">요청하신 페이지의 주소가 변경, 삭제되어 찾을 수 없습니다.</h5>
        <h5 class="navy" align="center">관리자에게 문의해주세요.</h5>
        <div class="d-flex justify-content-center pt-4">
        <button class="btn btn-success btn-lg" onclick="location.href='/main'" >메인으로</button>
    </div>
    </div>
</div>
</div>