<style>
    #first {
        /* background-color: #2C3E50; */
        background-image: url('/images/club/balloon.jpg');
        height: 1000px;
        background-size : cover;
    }

    /* #second {
        height: 600px;
    } */
    
    .navy{
        color:white;
    }
</style>

<div class="container-fluid" id="first">
    <div class="d-flex justify-content-center " style="padding-top: 110px;"> 
        <div>
            
            <h3 class="navy pb-4" align="center"> 함께하면 분명, 좋은 여행이 될 거예요. </h3>
            <h5 class="navy" align="center">여행 계획이 있으신가요?</h5>
            <h5 class="navy" align="center">우리는 여행 커뮤니티 서비스를 제공합니다.</h5>
            <h5 class="navy" align="center">지금 시작해보세요!</h5>
            <!-- <h5 class="navy" align="center">원한다면 당신의 여행 클럽을 만들고, 운영할 수 있습니다!</h5> -->
            <div class="d-flex justify-content-center pt-4">
            <button class="btn btn-success btn-lg" onclick="location.href='/users/register'" >바로 시작하기</button>
        </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="second">

</div>