<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        // window.onload=function() {    
        //      document.getElementById('loading').style.display = 'none'; 
        // };

    </script>
    
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-yrfSO0DBjS56u5M+SjWTyAHujrkiYVtRYh2dtB3yLQtUz3bodOeialO59u5lUCFF" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3d8bd54dbc.js" SameSite="none" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <title>TravelClub</title>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary " style="height: 80px; padding-left: 200px;padding-right: 200px;">
        <a class="navbar-brand" href="<%=typeof user != 'undefined' ? '/main' : '/' %>"><i class="fas fa-plane mx-1"></i>TravelClub</a>
      
        <ul class="navbar-nav mr-auto">
            <% if(typeof window == 'undefined' && typeof req != 'undefined' && req.isAuthenticated()){ %>
                <li class="<%=  typeof myclubActive != 'undefined' ? myclubActive : '' %> nav-item " ><a class="nav-link" href="/myclub" >내 클럽</a></li>
                <li class="<%=  typeof clubActive != 'undefined' ? clubActive : '' %> nav-item " ><a class="nav-link" href="/club" >클럽 운영</a></li>
            <% } %>
        </ul>
        <ul class="navbar-nav ">
            <% if(typeof req != 'undefined' && req.isAuthenticated()){ %>
            <li class="nav-item " ><a class="nav-link" href="/noti/main" > 
                <i class="fas fa-envelope"></i> 
                <!-- <span class="badge badge-pill badge-light"><%=user.notiCount%></span> -->
                </a></li>
            <li class="nav-item dropdown " >
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:dropdownClick()" aria-haspopup="true" aria-expanded="false"><%= user.nickname %> 님</a>
                <div class="dropdown-menu" id="dm" style=""> 
                    <!-- right: 4px;left: auto; -->
                        <a class="dropdown-item" href="/mypage">
                        <i class="far fa-user-circle" style="padding-right: 5px"></i>
                        마이페이지</a> 
                        <a class="dropdown-item" href="/users/logout">
                       <i class="fas fa-sign-out-alt" style="padding-right: 5px"></i>
                        로그아웃</a> 
                    </div>
                </li>     
            <% } else {%>
            <li class="<%= typeof loginActive != 'undefined' ? loginActive : '' %> nav-item"><a class="nav-link" href="/users/login">LogIn</a></li>
            <% } %>
        </ul>
      </nav>   
    
    
    <script>
        function dropdownClick(){
                const dm = document.getElementById('dm');
                dm.className === 'dropdown-menu' ? dm.className = 'dropdown-menu show': dm.className = 'dropdown-menu';
            }
    </script>
</head>

<body>
    <!-- <div id="loading">
        <img id="loading-image" src="/images/club/loading.gif" alt="Loading..." />
    </div> -->

    <div class="">
        <%- body %>
    </div>


</body>

</html>

