<style>
    #firstDiv{
        height:350px;
        border-bottom: 3px #2C3E50 solid ;
    }
    /* #imgDiv{
        background-image: url('/images/club/bear.jpg');
        width:100px;
max-height:100%;
        /* background-size : cover; */
        /* height:350px; */
    } */
</style>
<div id="firstDiv"  class=" ">
    <div class="container p-5" >
        <div class="row">
            <div class="col-md-9">

                <h2>클럽 인기글
                    <a data-toggle="tooltip" data-placement="right" title="오늘 작성된 조회수가 가장 높은 게시글">
                        <i class="fas fa-info-circle"></i>
                      </a>
                </h2>
                <hr>
        
                <% for(posting of postings ) { %>
                <!--인기글 1개-->
                <a href="javascript:openWindow('<%=posting.boardId%>', '<%=posting.clubId._id%>','<%= posting.id %>'  )" ><h4>[ <%= posting.clubId.name%> ] <%= posting.title %> </h4></a>
                <hr>
                <!--인기글 1개-->
                <% } %>

            </div>
            <div class="col-md-3" id="imgDiv">
                <img src="/images/club/bear.jpg" alt="" style="width:290px">
            </div>
        </div>

       

    </div>
</div>

<div class="container">
    
<div class="mainDiv">
    <h3>이런 클럽은 어떠신가요?</h3>
    <!-- <small>전체클럽(가입,운영 제외)</small> -->


<div class="  row mt-3">
    
    <% for(club of clubList) { %>
    <div class="col-md-3 mb-3" id="div<%=club.id%>">
     <div class="card border-primary " style="max-width: 20rem;">
        <div class="card-header"><%=club.name%></div>
        <div class="card-body">
            <p class="card-text"><%=club.intro%></p>
            <button type="button" class="btn btn-success float-right" onclick="registerClubMain('<%=club.id%>')" >가입하기</button>
        </div>
      </div>
    </div>
    <% } %>
 </div>
</div>
</div>
 <script>
     function registerClubMain(id){
        if(confirm('가입하시겠습니까?')){
            fetch('/membership/registerFetch/'+id)
                .then(response => {
                    return response.json();
                })
                .then(targetClub=>{
                     $('#div'+id).remove();
                });
        }
     }

     function openWindow(boardId,clubId,postingId){
      window.open(`/clubWindow/postingInfo?boardId=${boardId}&clubId=${clubId}&postingId=${postingId}&nowPage=1`);
    }
 </script>