
  body{
    overflow-x: hidden;
  }

  .mainDiv {
    padding: 30px;
    height: fit-content;
  }

  .rightDiv {
    border-left: 1px solid gray;
    /* padding-bottom: 50px;
    padding-left: 50px;
    height: auto; */
  }

  .allHr {
    clear: left;
    margin-top: 100px;
  }

  a {
    color: black;
  }

.jumbotron {
  background-color: white;
  border : 1px solid black;
  }
  
  #loading {
    width: 100%;  
    height: 100%;  
    top: 0px;
    left: 0px;
    position: fixed;  
    display: block;  
    opacity: 0.7;  
    background-color: #fff;  
    z-index: 99;  
    text-align: center; } 
     
   #loading-image {  
    position: absolute;  
    top: 50%;  
    left: 50%; 
    z-index: 100; }
   
   
  /* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: rgb(131, 147, 236);
  } */