


<div class="mainDiv row">
   

  <div class=" leftDiv col-md-9">
    <h2>Board List</h2>
    <button class="btn btn-outline-primary btn-sm mb-2" onclick="javascript:setBoardList('all');">전체보기</button>
    <form id="boardFindForm" name="boardFindForm" style="padding-bottom: 10px;" class="form-inline">
      <input class="form-control" type="text" name="name" placeholder="게시판이름">
      <input class="btn btn btn-dark mx-1" type="button" value="Find" onclick="setBoardList()" />
    </form>
    <div class="card">
      <table class="table table-hover">
        <tr>
          <thead>
            <th>BoardId</th>
            <th>ClubName</th>
            <!-- <th>postings</th> -->
            <th>BoardName</th>
            <th>AdminEmail</th>
            <th>CreateDate</th>
            <th>Modify</th>
            <th>Remove</th>
            <th>Posting</th>
          </thead>
        </tr>
        <tbody id="boardTable">

        </tbody>
      </table>
    </div>
  </div>

  <div class="rightDiv col-md-3">
    <h2>Board Form</h2>
    <form class="mt-3 " id="boardForm" name="boardForm">
      <div class="form-row ml-1  mb-3">
        <select id="selector" name="selector" class="form-control" onchange="findClubForBoardForm(this.value)">
          <option value="">먼저, 클럽을 선택해주세요.</option>
        </select>
      </div>
      <div id="noticeBoard" class="alert alert-warning mt-2" role="alert" style="display: none;font-size: 0.8em;">
        등록할 게시판이름과 관리자이메일을 작성해주세요.
      </div>
      <p>
        <label>BoardName </label>
        <input class="form-control" type="text" name="boardName" disabled>
      </p>
      <p>
        <label>AdminEmail </label>
        <input class="form-control" type="text" name="adminEmail" disabled>
      </p>

      <input class="btn btn-outline-dark  " name="registerBtn" type="button" value="등록"
        onclick="registerBoard(this.form)"></input>
    </form>
  </div>

</div>


<div style="height: 200px;"></div>