<script src="/javascripts/logic/clubFind.js"></script>

<div class="container">
<div class="mainDiv row">
  <div class="leftDiv col-md-9">
    <h2>클럽운영
      <a data-toggle="tooltip" data-placement="right" title="내가 운영하는 클럽의 목록이 표시됩니다. (가입한 클럽은 내클럽 메뉴에서 확인하실 수 있습니다.)">
        <i class="fas fa-info-circle"></i>
      </a>
    </h2>
    <!-- <small>내가 운영하는 클럽의 목록이 표시됩니다. <br>(가입한 클럽은 내클럽 메뉴에서 확인하실 수 있습니다.)</small><br> -->
    <button class="btn btn-outline-primary btn-sm my-2" onclick="window.location.reload();">전체보기</button>
    <form style="padding-bottom: 10px;" class="form-inline">
      <input class="form-control" type="text" name="name" placeholder="클럽명" id="clubFind">
      <input class="btn btn btn-dark mx-1" type="button" value="Find"
        onclick="findClubByName(this.form.name.value)" />
    </form>
    
    <%if(clubList.length == 0){%>
      <div class="alert alert-dismissible alert-danger">
          <strong><i class="far fa-frown-open mr-2"></i> 운영하는 클럽이 없어요 </strong> 
      </div>
    <% } %>
    <hr>
    <div id="clubTable">
    <% for(club of clubList){ %>
    
      <!--클럽한개-->
      <div class="row p-2" >
        <div class="col-md-9">
          <a href="javascript:openWindow('<%= club.id %>')" style="color:black"><h4><%= club.name %></h4></a>
          <p><%= club.intro %></p>
        </div>
        <div class="col-md-1 mt-4">
          <a data-toggle="tooltip" data-placement="right" title="멤버수">
            <i class="fas fa-user p-1"></i><%=club.memberCount%>
          </a>
        </div>
        <div class="col-md-2 ">
          <button class="btn btn-success mt-3" onclick="location.href=`/manageClub/<%=club.id %>`">관리</button>
        </div>
      </div>
      <hr>

    <% }%>
    </div>

  </div>

  <div class="rightDiv col-md-3 ">
    <h2>클럽 만들기</h2>
    <form id="clubForm" action="/club/register"  method="POST" enctype="multipart/form-data">
      <div>
      <%- include("../partials/messages") %>
    </div>
      <p>
        <label>클럽명</label>
        <input  required="required" oninput="" class="form-control" id="clubName" type="text" name="name" value="<%= typeof name != 'undefined' ? name : ''  %>" placeholder="3자 이상">
        <p id="clubNameInvalid" style="font-size:0.8em;color:red;display: none">3자 이상 입력해주세요.</p>
      </p>
      <p>
        <label>클럽 소개글</label>
        <input required="required"  oninput="" class="form-control" id="clubIntro" type="text"
          name="intro" value="<%= typeof intro != 'undefined' ? intro : ''  %>" placeholder="10자 이상">
        <p id="clubIntroInvalid" style="font-size:0.8em;color:red;display: none">10자 이상 입력해주세요.</p>
      </p>
      <div class="form-group">
        <label for="exampleInputFile">클럽 대표이미지</label>
        <input name="file" type="file" class="form-control-file" id="file" aria-describedby="fileHelp" >
        <small style="color:red">대표이미지 미선택시,<br> 기본이미지로 설정됩니다.</small>
      </div>
      <input  class="btn btn-outline-dark" id="registerClubBtn" type="submit" value="등록">
        
    </form>
    
  </div>


  

</div>

<hr class="allHr">
<div style="height: 100px;"></div>
</div>
<script>

    function openWindow(id){
      window.open(`/clubWindow/main/${id}`);
    }

    Date.prototype.yyyymmdd = function()
    {
        let yyyy = this.getFullYear().toString();
        let mm = (this.getMonth() + 1).toString();
        let dd = this.getDate().toString();
     
        return yyyy + '-' +(mm[1] ? mm : '0'+mm[0]) +'-' + (dd[1] ? dd : '0'+dd[0]);
    }
</script> 