<!doctype html>
<html>

<link rel="stylesheet" type="text/css" href="../CSS/style.css">

<head>
  <title>TravelClub</title>
  <meta charset="utf-8">
  <script src="../logic/common.js"></script>
  <script src="../logic/membership.js"></script>
  <script src="../store/memberStore.js"></script>
  <script src="../store/clubStore.js"></script>
  <script src="../store/postingStore.js"></script>
  <script src="../store/boardStore.js"></script>
  <script src="../logic/member.js"></script>
  <script>
    window.onload = function () {
        this.setMemberList('all');
    };
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
 
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height: 80px;">
      <a class="navbar-brand"><i class="fas fa-plane mx-1"></i>TravelClub</a>

      <ul class="navbar-nav">
        <li class=" nav-item "><a class="nav-link" href="club.html">Club</a></li>
        <li class="active nav-item"><a class="nav-link" href="member.html">Member</a></li>
        <li class="nav-item"><a class="nav-link" href="membership.html">Membership</a></li>
        <li class="nav-item"><a class="nav-link" href="board.html">Board</a></li>
        <li class="nav-item"><a class="nav-link" href="posting.html">Posting</a></li>

      </ul>
    </nav>
</head>


<body>


  <div class="mainDiv row">
    


    <div class="leftDiv col-md-9">
      <h2>Member List</h2>
      <button class="btn btn-outline-primary btn-sm mb-2" onclick="javascript:setMemberList('all');">전체보기</button>
      <form name="memberFindEmailForm" class="form-inline" style="padding-bottom: 10px;">
        <select class="form-control" name="postingSelector">
          <option value="email">이메일</option>
          <option value="name">이름</option>
          <option value="phoneNumber">핸드폰번호</option>
          <option value="nickName">닉네임</option>
        </select>
        <input class="form-control mx-1" type="text" name="word" >
        <input class="btn btn btn-dark " type="button" value="Find"
          onclick="setMemberSelectList(this.form)" />
      </form>
      
      <div class="card">
        <table class="table table-hover ">
          <tr>
            <thead>
              <th>Email</th>
              <th>Name</th>
              <th>PhoneNumber</th>
              <th>NickName</th>
              <th>BirthDay</th>
              <th>Modify</th>
              <th>Remove</th>
              <th>Membership</th>
            </thead>
          </tr>
          <tbody id="memberTable">

          </tbody>
        </table>
      </div>
    </div>
  

<div class="rightDiv col-md-3">
      <h2>Member Form</h2>
      <form id="memberForm" name="memberForm "  >
        <p>
          <h6 class="form-group">
          <label>Email</label>
          <input oninput="validate(this.value)" class="form-control" type="text" name="email" >
          <p id="emailInvalid" style="font-size:0.8em;color:red;display: none">올바른 이메일형식이 아닙니다.</p>
        </p>
        <p>
          <label>Name</label>
          <input class="form-control" type="text" name="name" >
        </p>
        <p>
          <label>PhoneNumber</label>
          <input class="form-control" type="text" name="phoneNumber" >
        </p>
        <p>
          <label>NickName</label>
          <input class="form-control" type="text" name="nickName">
        </p>
        <p>
          <label>BirthDay</label>
          <input class="form-control" type="date" name="birthDay" >
        </p>
        <input class="btn btn-outline-dark" name="registerBtn" type="button" value="등록"
          onclick="registerMember(this.form,'register')"></input>
      </form>
    </div>



  </div>


  <hr class="allHr">
  <div style="height: 100px;"></div>

</body>

</html>