<!doctype html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../CSS/style.css">
  <title>TravelClub</title>
  <meta charset="utf-8">
  <script type="module">
    import word from "../logic/test.js";
    console.log(word);
  </script>



  <script src="../logic/common.js"></script>
  <script src="../store/memberStore.js"></script>
  <script src="../store/clubStore.js"></script>
  <script src="../logic/membership.js"></script>
  <script src="../logic/club.js"></script>
  <script src="../store/boardStore.js"></script>
  <script src="../logic/board.js"></script>
  <script>
    window.onload = function () {
      setMembershipSelector();

      let clubId = getParam("clubId");
      if (clubId.length > 0) {//클럽에서 파라미터 넘어옴
        let clubName = retrieveClub(clubId).name;
        membershipForm.name.value = clubName;

        membershipForm.selector.value = clubName;
        findMembershipByClubName(clubName);
        membershipFindForm.word.value = clubName;
        setMembershipSelectList(membershipFindForm);
        return;
      }

      let email = getParam("email");
      if (email.length > 0) {//멤버에서 파라미터 넘어옴
        membershipForm.email.value = email;
        membershipFindForm.word.value = email;
        membershipFindForm.membershipSelector.options[2].selected = true;
        setMembershipSelectList(membershipFindForm);
        return;
      }

      setMembershipList('all');

    };
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />


  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height: 80px;">
    <a class="navbar-brand"><i class="fas fa-plane mx-1"></i>TravelClub</a>

    <ul class="navbar-nav">
      <li class=" nav-item "><a class="nav-link" href="club.html">Club</a></li>
      <li class="nav-item"><a class="nav-link" href="member.html">Member</a></li>
      <li class="active nav-item"><a class="nav-link" href="membership.html">Membership</a></li>
      <li class="nav-item"><a class="nav-link" href="board.html">Board</a></li>
      <li class="nav-item"><a class="nav-link" href="posting.html">Posting</a></li>

    </ul>
  </nav>

</head>


<body>



  <div class="mainDiv row">

    <div class="leftDiv col-md-9">
      <h2>Membership List</h2>
      <button class="btn btn-outline-primary btn-sm mb-2" onclick="javascript:setMembershipList('all');">전체보기</button>
      <form name="membershipFindForm" style="padding-bottom: 10px;" class="form-inline">
        <select class="form-control" name="membershipSelector">
          <option value="clubName">클럽이름</option>
          <option value="clubId">클럽아이디</option>
          <option value="email">멤버이메일</option>
        </select>
        <input class="form-control mx-1" type="text" name="word" id="membershipFind">
        <input class="btn btn btn-dark " type="button" value="Find" onclick="setMembershipSelectList(this.form)" />
      </form>

      <div class="card">
        <table class="table table-hover ">
          <tr>
            <thead>
              <th>ClubId</th>
              <th>ClubName</th>
              <th>Email</th>
              <th>Role</th>
              <th>JoinDate</th>
              <th>Modify</th>
              <th>Remove</th>
            </thead>
          </tr>
          <tbody id="membershipTable">

          </tbody>
        </table>
      </div>
    </div>

    <div class=" rightDiv col-md-3 ">
      <h2>Membership Form</h2>

      <form class="mt-3" name="membershipForm" id="membershipForm" style="padding-bottom: 10px;">
        <div class="form-row mb-3 ml-1">
          <select id="selector" name="selector" class="form-control" onchange="findMembershipByClubName(this.value)">
            <option value="">먼저, 클럽을 선택해주세요.</option>
          </select>
        </div>
        <div id="noticeMembership" class="alert alert-warning mt-2" role="alert"
          style="display: none;font-size: 0.8em;">
          멤버십에 등록할 이메일과 역할을 작성해주세요.
        </div>
        <p>
          <label>Email </label>
          <input class="form-control" type="text" name="email" placeholder="" disabled>
        </p>
        <p>
          <label>Role</label><br>
          <input class="mx-2" type="radio"" name="role" value="President" disabled>President
          <input class="mx-2" type="radio"" name="role" value="Member" disabled>Member
        </p>
        <input class="btn btn-outline-dark  " name="registerBtn" type="button" value="등록"
          onclick="registerMembership(this.form);"></input>
      </form>
    </div>



  </div>
  <hr class="allHr">
  <div style="height: 100px;"></div>

</body>

</html>