<script src="/javascripts/logic/clubFind.js"></script>

<div class="container">
<div class="mainDiv ">
 
    <h2>가입한 클럽 
      <a data-toggle="tooltip" data-placement="right" title="내가 가입한 클럽의 목록이 표시됩니다.(운영중인 클럽은 클럽운영 메뉴에서 확인하실 수 있습니다.)">
        <i class="fas fa-info-circle"></i>
      </a>
    </h2>
    <!-- <small>내가 가입한 클럽의 목록이 표시됩니다. <br>(운영중인 클럽은 클럽운영 메뉴에서 확인하실 수 있습니다.)</small><br> -->
    <button class="btn btn-outline-primary btn-sm my-2" onclick="window.location.reload()">전체보기</button>
    <form style="padding-bottom: 10px;" class="form-inline">
      <input class="form-control" type="text" name="name" placeholder="클럽명" id="clubFind">
      <input class="btn btn btn-dark mx-1" type="button" value="Find"
        onclick="findByNameMyClub(this.form.name.value)" />
    </form>
    <%if(  clubList.length == 0){%>
      <div class="alert alert-dismissible alert-danger">
          <strong><i class="far fa-frown-open mr-2"></i> 가입한 클럽이 없어요 </strong> 
      </div>
    <% } else {%>
    <div class="card">
      <table class="table table-hover ">
        <tr>
          <thead>
            <th>클럽명</th>
            <th>소개글</th>
            <th>설립일</th>
            <th>탈퇴</th>
          </thead>
        </tr>
        <tbody id="clubTable">
            <% for(club of clubList){ %>
              <tr>
                <td><a href="javascript:openWindow('<%= club.id %>')" style="color:black;font-weight: bold;"><%= club.name %></a></td>
                <td><%= club.intro %></td>
                <td><%= club.foundationDay.yyyymmdd() %></td>
                <td><button id="removeBtn" class="btn btn-danger" onclick="removeMembershipSelf(`<%= club.id %>`);">탈퇴</button></td>
              </tr>
            <% }%>
        </tbody>
      </table>
    </div>
    <% } %>
</div>
</div>

<script>
  function openWindow(id){
      window.open(`/clubWindow/main/${id}`);
    }


  function removeMembershipSelf(clubId){
    if (confirm('정말로 탈퇴하시겠습니까?\r\n(클럽내에 작성하신 게시글과 댓글은 삭제되지 않습니다.)')) {
      fetch(`/myclub/remove/${clubId}`)
      .then(result=>{
          location.reload();
      });
    }
  }
</script>