<!-- <small>noti</small>
<% for(noti of notis){ %>
<div><%=noti.content%></div>
<% } %> -->
<style>

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
</style>
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3 ">
            <div class="card p-5"> 
                <h4><i class="far fa-envelope mr-2"></i>Message</h4>
                <ul class="timeline">
                    <% if(notis.length == 0) { %>
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            새로운 알림이 없습니다.
                        </div>
                    <% } %>    
                        
                    <% for(noti of notis){ %>
                    <li>
                        <!-- <a target="_blank" href="https://www.totoprayogo.com/#">New Web Design</a> -->
                        <b><%= noti.title %></b>
                        <b class="float-right" style="color:#22c0e8"><%= noti.writtendate.yyyymmdd() %></b>
                        <div style="white-space : pre-wrap; " class="pt-2"><%= noti.content%></div>
                    </li>
                    <% } %>
                </ul>
             </div>
		</div>
	</div>
</div>

<script>
    Date.prototype.yyyymmdd = function()
{
    let yyyy = this.getFullYear().toString();
    let mm = (this.getMonth() + 1).toString();
    let dd = this.getDate().toString();
 
    return yyyy + '-' +(mm[1] ? mm : '0'+mm[0]) +'-' + (dd[1] ? dd : '0'+dd[0]);
}

function split(content){
    return 'hi';
}
</script>