<!doctype html>
<div>

<link rel="stylesheet" type="text/css" href="../CSS/style.css">

<head>
  <title>TravelClub</title>
  <meta charset="utf-8">
  <script src="../logic/common.js"></script>
  <script src="../store/clubStore.js"></script>
  <script src="../logic/club.js"></script>
  <script src="../logic/membership.js"></script>
  <script src="../store/postingStore.js"></script>
  <script src="../store/boardStore.js"></script>
  <script src="../logic/posting.js"></script>
  <script src="../logic/board.js"></script>

  <script>
    window.onload = function () {
      setPostingSelector();

      let boardId = getParam("boardId");
      console.log(boardId);
      if(boardId.length > 0){//보드에서 파라미터 넘어옴
        let boardName = retrieveBoard(boardId).boardName;
        postingForm.selector.value = boardName;
        findBoardForPosting(boardName);
        postingFindForm.word.value = boardName;
        setPostingSelectList(postingFindForm);
        return;
      }
      setPostingList('all');
    };
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height: 80px;">
      <a class="navbar-brand"><i class="fas fa-plane mx-1"></i>TravelClub</a>

      <ul class="navbar-nav">
        <li class=" nav-item "><a class="nav-link" href="club.html">Club</a></li>
        <li class="nav-item"><a class="nav-link" href="member.html">Member</a></li>
        <li class="nav-item"><a class="nav-link" href="membership.html">Membership</a></li>
        <li class=" nav-item"><a class="nav-link" href="board.html">Board</a></li>
        <li class="active nav-item"><a class="nav-link" href="posting.html">Posting</a></li>
      </ul>
    </nav>
</head>


<body>

  <!-- ////////////////////////////////////////////////////포스팅 -->
  <div class="mainDiv row">

    <div class="leftDiv col-md-9">
      <h2>Posting List</h2>
      <button class="btn btn-outline-primary btn-sm mb-2" onclick="javascript:setPostingList('all');">전체보기</button>
      <form class="form-inline" name="postingFindForm" style="padding-bottom: 10px;">
        <select class="form-control" name="postingSelector">
          <option value="boardName">게시판이름</option>
          <option value="title">글제목</option>
          <option value="contents">글내용</option>
          <option value="writer">작성자</option>
        </select>
        <input class="form-control mx-1" type="text" name="word" placeholder="" id="postingFinder">
        <input class="btn btn btn-dark " type="button" value="Find" onclick="setPostingSelectList(this.form)" />

      </form>
<!-- 스위치 -->
    <div class="row ">
      <div class="col-md-10"></div>
      <div  style="float:right col-md-2">
        <div class="custom-control custom-switch " style="float: left;" >
          <span class="pr-5" style="float: left;font-weight: bold;">글내용 보기</span>
          <input type="checkbox" class="custom-control-input " id="customSwitch1" style="float: left;" onchange="javascript:switchSelect(this);">
          <label class="custom-control-label" for="customSwitch1" align="right" style="float: left;"></label>
        </div>
      </div>
    </div>
<!-- 스위치 끝 -->

      <div class="card">
        <table class="table table-hover ">
          <tr>
            <thead>
              <!-- <th>boardId</th> -->
              <th>BoardName</th>
              <!-- <th>postingId</th> -->
              <th>Title</th>
              <th>WriterEmail</th>
              <!-- <th>contents</th> -->
              <th>WrittenDate</th>
              <th>Modify</th>
              <th>Remove</th>
            </thead>
          </tr>
          <tbody id="postingTable">

          </tbody>
        </table>
      </div>
    </div>

    <div class=" rightDiv col-md-3 ">
      <h2>Posting Form</h2>
      <form class="mt-3" id="postingForm" name="postingForm">
        <div class="form-row ml-1 mb-3">
            <select id="selector" name="selector" class="form-control" onchange="findBoardForPosting(this.value)">
              <option value="">먼저, 게시판을 선택해주세요.</option>
            </select>
        </div>
        <div id="noticePosting" class="alert alert-warning mt-2" role="alert" style="display: none;font-size: 0.8em;">
          등록할 게시글의 제목, 작성자, 내용을 작성해주세요.
        </div>
        <div id="noticeModifyPosting" class="alert alert-warning mt-2" role="alert" style="display: none;font-size: 0.8em;">
          수정할 게시글의 제목, 내용을 작성해주세요.
        </div>
        <p>
          <label>Title </label>
          <input class="form-control" type="text" name="title" disabled>
        </p>
        <p>
          <label> WriterEmail </label>
          <input class="form-control" type="text" name="writerEmail" disabled>
        </p>
        <p>
          <label> Contents </label>
          <textarea class="form-control" name="contents" disabled rows="4" cols="50"></textarea>
        </p>
        <input class="btn btn-outline-dark  " name="registerBtn" type="button" value="등록"
          onclick="registerPosting(this.form)"></input>
      </form>
    </div>

   
  </div>
  <div style="height: 200px;"></div>
</body>

</div>