<ol class="breadcrumb" style="padding-left: 200px;padding-right: 200px;">
    <li class="pr-3"> <a href="/club" style="color:black;font-weight: bold;"><i class="fas fa-arrow-left"></i> 전체 운영클럽</a></li></li>
    <li class="pr-3"><a href="javascript:window.open(`/clubWindow/main/<%=id%>`)" style="color:black"> [ <%= name %> ]</a></li>
    <li class="breadcrumb-item"><a href="/manageClub/<%= id %>" style="color:black">클럽관리</a></li>
    <li class="breadcrumb-item"><a href="/manageBoard/<%= id%>" style="color:black">게시판관리</a></li>
    <li class="breadcrumb-item"><a href="/manageMember/<%= id%>" style="color:black">멤버관리</a></li>
</ol>

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/javascripts/logic/boardLogic.js"></script>

<div class="container">

    <div class="mainDiv row">
        <div class=" leftDiv col-md-9">
          <h2>게시판 관리</h2>
          <button class="btn btn-outline-primary btn-sm mb-2" onclick="window.location.reload()">전체보기</button>
          <form id="boardFindForm" name="boardFindForm" style="padding-bottom: 10px;" class="form-inline">
            <input class="form-control" type="text" name="name" placeholder="게시판이름">
            <input class="btn btn btn-dark mx-1" type="button" value="Find" onclick="setBoardList(this.form.name.value, '<%=id%>')" />
          </form>
          <%if(  boards.length == 0){%>
            <div class="alert alert-dismissible alert-danger">
                <strong><i class="far fa-frown-open mr-2"></i> 게시판이 없어요 새로 만드세요!</strong> 
            </div>
            <% }%>

            <div id="boardTable">
          <% for(board of boards) { %>
                <hr>
                <div class="row">
                    <div class="col-md-8"> 
                        <h5 id="orgName"><i class="fas fa-clipboard-list mx-3"></i><%=board.name%></h5>
                    </div>
                    <div class="col-md-1 mt-1">
                      <a data-toggle="tooltip" data-placement="right" title="게시글수">
                        <i class="far fa-file-alt mx-1"></i><%=board.postingCount%>
                      </a>
                    </div>
                    <div class="col-md-3 ">
                        <button class="btn btn-info" onclick="setFormForModifyBoard('<%=board.id%>','<%=id%>');" >수정</button>
                        <button  class="btn btn-danger" onclick="removeBoard(this.value,'<%=board.postingCount%>');" value="<%=board.id%>">삭제</button>
                    </div>
                </div>
            
          <% } %>
        </div>
          <hr>
        </div>
    
        <div class="rightDiv col-md-3">
          <h3 id="title">게시판 등록</h3>
          <!-- <form action="/manageBoard/register/<%= id %>" method="POST" id ="boardForm" class="mt-3 " id="boardForm" name="boardForm"> -->
          <form method="POST" id ="boardForm" class="mt-3 " id="boardForm" name="boardForm">
            <p>
              <label>게시판이름 </label>
              <input id="boardName" required="required" class="form-control" type="text" name="boardName" placeholder="게시판이름 중복 불가능" >
            </p>
            <!-- <input class="btn btn-outline-dark" name="registerBtn" type="submit" value="등록"></input> -->
            <input class="btn btn-outline-dark" name="registerBtn" type="button" value="등록" onclick="registerBoard(this.form, '<%=id%>')"></input>
          </form>
        </div>
    
      </div>
    
</div>

<script>
    
</script> 



