<ol class="breadcrumb" style="padding-left: 200px;padding-right: 200px;">
    <li class="pr-3"> <a href="/club" style="color:black;font-weight: bold;"><i class="fas fa-arrow-left"></i> 전체
            운영클럽</a></li>
    </li>
    <li class="pr-3"><a href="javascript:window.open(`/clubWindow/main/<%=club.id%>`)" style="color:black"> [ <%= club.name %> ]</a></li>
    <li class="breadcrumb-item"><a href="/manageClub/<%=club.id%>" style="color:black">클럽관리</a></li>
    <li class="breadcrumb-item"><a href="/manageBoard/<%=club.id%>" style="color:black">게시판관리</a></li>
    <li class="breadcrumb-item"><a href="/manageMember/<%=club.id%>" style="color:black">멤버관리</a></li>
</ol>


<div class="container">
    <div class="mainDiv row">
        <div class="leftDiv col-md-9">
            
            <h2 class="pt-3">클럽관리</h2>
            <div class="card  ">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            
                            <a href="javascript:openWindow('<%= club.id %>')" style="color:black"><h5 id="orgName"><%=club.name%></h5></a>

                            <p id="orgIntro"><%=club.intro%></p>
                        </div>
                        <div class="col-md-3 mt-3">
                            <button class="btn btn-info" onclick="setFormForModifyClub();">수정</button>
                            <button class="btn btn-danger" onclick="removeClub('<%=club.id%>','<%=club.name%>');">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <img src="<%=club.image%>" alt="" style="max-width: 100%;height: auto;">
                    </div>
                </div>
            </div>



        </div>
        <div class="rightDiv col-md-3 ">
            <h3 class="mt-5">클럽 수정하기</h3>
            <form id="clubForm" action="/club/modify/<%=club.id%>" method="POST" enctype="multipart/form-data">
                <div>
                    <%- include("../partials/messages") %>
                </div>
                <p>
                    <label>클럽명 </label>
                    <input required="required" oninput="" class="form-control" id="clubName" type="text" name="name"
                        value="<%= typeof name != 'undefined' ? name : ''  %>" >
                    <p id="clubNameInvalid" style="font-size:0.8em;color:red;display: none">3자 이상 입력해주세요.</p>
                </p>
                <p>
                    <label>소개글</label>
                    <input required="required" oninput="" class="form-control" id="clubIntro" type="text" name="intro"
                        value="<%= typeof intro != 'undefined' ? intro : ''  %>">
                    <p id="clubIntroInvalid" style="font-size:0.8em;color:red;display: none">10자 이상 입력해주세요.</p>
                </p>
                <div class="form-group">
                    <label for="exampleInputFile">클럽 대표이미지</label>
                    <input id="file" name="file" type="file" class="form-control-file" id="file"
                        aria-describedby="fileHelp" value="45">
                    <small style="color:red">대표이미지 미선택시,<br> 기존 이미지로 설정됩니다.</small>
                </div>
                <input class="btn btn-outline-dark" id="registerClubBtn" type="submit" value="수정">
            </form>
        </div>
    </div>
</div>

<script>
    function openWindow(id){
      window.open(`/clubWindow/main/${id}`);
    }
    // const clubLogic = require('../../public/javascripts/clubLogic');
    function removeClub(clubId, clubName) {
        if (confirm('정말로 삭제하시겠습니까?')) {
            //보드있으면 삭제 불가능
            fetch(`/board/findByClubId/${clubId}`)
                .then(res => res.json())
                .then(boards => {
                    if (boards.length > 0) {
                        return alert('클럽 내에 게시판이 존재하여 클럽삭제가 불가능합니다.');
                    }

                    fetch(`/membership/findMemberByClubId/${clubId}`)
                        .then(res => res.json())
                        .then(memberships => {
                            for (membership of memberships) {
                                let postdata = {
                                'title': '탈퇴알림',
                                'content': `운영자에 의해 ${clubName}이 삭제되어 탈퇴처리 되셨습니다.`,
                                'memId' : membership.memId
                                };

                                fetch('/noti/register', {
                                    method: 'post',
                                    headers: {
                                        'Accept': 'application/json, text/plain, */*',
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(postdata)
                                })
                                
                            }//for
                             location.href = '/club/remove/' + clubId; 
                                
                        })

                    
                })

        }
    }

    function setFormForModifyClub() {//클럽 수정
        document.getElementById("clubName").value = document.getElementById("orgName").innerHTML;
        document.getElementById("clubIntro").value = document.getElementById("orgIntro").innerHTML;
        document.getElementById("file").value = '<%=club.image%>';
    }
</script>