    <ol class="breadcrumb" style="padding-left: 200px;padding-right: 200px;">
        <li class="pr-3"> <a href="/club" style="color:black;font-weight: bold;"><i class="fas fa-arrow-left"></i> 전체 운영클럽</a></li></li>
        <li class="pr-3"><a href="javascript:window.open(`/clubWindow/main/<%=id%>`)" style="color:black"> [ <%= name %> ]</a></li>
        <li class="breadcrumb-item"><a href="/manageClub/<%=id%>" style="color:black">클럽관리</a></li>
        <li class="breadcrumb-item"><a href="/manageBoard/<%=id%>" style="color:black">게시판관리</a></li>
        <li class="breadcrumb-item"><a href="/manageMember/<%=id%>" style="color:black">멤버관리</a></li>
    </ol>

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/javascripts/logic/membershipLogic.js"></script>

<div class="container">
    <div class="mainDiv ">
        <h2>멤버 관리</h2>
          <button class="btn btn-outline-primary btn-sm mb-2" onclick="window.location.reload()"">전체보기</button>
          <form id="membershipFindForm" name="membershipFindForm" style="padding-bottom: 10px;" class="form-inline">
            <select class="form-control mr-1" name="membershipSelector">
              <option value="nick">닉네임</option>
              <option value="email">이메일</option>
            </select>
            <input class="form-control " type="text" name="word" >
            <input class="btn btn btn-dark mx-1" type="button" value="Find" onclick="setMembershipSelectList(this.form, '<%=id%>')" />
          </form>

          <div class="card">
            <table class="table table-hover ">
              <tr>
                <thead>
                  <th>이메일</th>
                  <th>닉네임</th>
                  <th>가입일</th>
                  <th>역할</th>
                  <th>탈퇴</th>
                  <th>운영자 권한위임</th>
                </thead>
              </tr>
              <tbody id="membershipTable">
                <% for(member of members) { %>
                  <tr>
                    <td><%=member.email%></td>
                    <td><%=member.memId.nickname%></td>
                    <td><%=new Date(member.joindate).yyyymmdd()%></td>
                    <td><%=member.role === 'President' ? '운영자' : '멤버' %></td>
                    <% if(member.role === 'Member'){ %>
                    <td>
                        
                        <button  class="btn btn-danger" onclick="removeMembership('<%= member.id %>');">강제탈퇴</button>
                        
                    </td> 
                    <td>
                      <button class="btn btn-success" onclick="changePresident('<%= member.id %>','<%=id%>');">권한위임</button>
                    </td>
                    <% } else { %>
                      <td></td><td></td>
                    <% } %>
                  </tr>
            <% } %>
              </tbody>
            </table>
          </div>
          
          
    </div>
</div>

<script>
    Date.prototype.yyyymmdd = function()
{
    let yyyy = this.getFullYear().toString();
    let mm = (this.getMonth() + 1).toString();
    let dd = this.getDate().toString();
 
    return yyyy + '-' +(mm[1] ? mm : '0'+mm[0]) +'-' + (dd[1] ? dd : '0'+dd[0]);
}


//////////////운영자 권한위임
function changePresident(memberId,clubId){
  if(confirm('운영자 권한을 위임하시겠습니까? \r\n권한 위임시, \r\n클럽운영에 대한 모든 권리가 박탈되고, \r\n멤버로 권한이 변경됩니다.')){
    fetch(`/manageMember/changePresident/${memberId}?clubId=${clubId}`)
    .then(result=>{
      location.href="/club"
    })
    .catch(err=>{
      console.log(err);
    })
  }
}
  </script> 