

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Register
        </h1>
        <%- include("../partials/messages") %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
            required
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
            required
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password 4 characters or more"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
            required
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input
            required
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="nickname">NickName</label>
            <input
            required
              type="name"
              id="nickname"
              name="nickname"
              class="form-control"
              placeholder="Enter NickName"
              value="<%= typeof nickname != 'undefined' ? nickname : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="phonenumber">PhoneNumber</label>
            <input
            required
              type="tel"
              id="phonenumber"
              name="phonenumber"
              class="form-control"
              placeholder="Enter PhoneNumber : 010-0000-0000"
              pattern="[0-9]{3}-[0-9]{3,4}-[0-9]{4}"
              value="<%= typeof phonenumber != 'undefined' ? phonenumber : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="phonenumber">BirthDay</label>
            <input
              required
              type="date"
              id="birthday"
              name="birthday"
              class="form-control"
              value="<%= typeof birthday != 'undefined' ? birthday : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      </div>
    </div>
  </div>