<div>
    <ol class="breadcrumb" style="padding-left: 200px;padding-right: 200px;">
      <li class="pr-3"> <i class="far fa-user-circle pr-2"></i>마이페이지</li>
      <li class="breadcrumb-item"><a href="/mypage">회원정보 수정</a></li>
      <li class="breadcrumb-item"><a href="/mypage/updatePassword">비밀번호 변경</a></li>
      <li class="breadcrumb-item"><a href="/mypage/withdrawUser">탈퇴</a></li>
      </ol>
</div>
<div class="container"> 
<div class="row mainDiv">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h2 class="text-center mb-3">
            <i class="far fa-user-circle"></i> 회원정보 수정
        </h2>
        <%- include("../partials/messages") %>
        <form action="/mypage/updateUSer" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
            required
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= email %>"
              readonly
            />
          </div>
          
          <div class="form-group">
            <label for="name">Name</label>
            <input
            required
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= name %>"
            />
          </div>
          <div class="form-group">
            <label for="nickname">NickName</label>
            <input
            required
              type="name"
              id="nickname"
              name="nickname"
              class="form-control"
              placeholder="Enter NickName"
              value="<%= nickname %>"
            />
          </div>
          <div class="form-group">
            <label for="phonenumber">PhoneNumber</label>
            <input
            required
              type="tel"
              id="phonenumber"
              name="phonenumber"
              class="form-control"
              placeholder="Enter PhoneNumber : 010-0000-0000"
              pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
              value="<%= phonenumber%>"
            />
          </div>
          <div class="form-group">
            <label for="birthday">BirthDay</label>
            <input
              required
              type="date"
              id="birthday"
              name="birthday"
              class="form-control"
              value="<%= birthday %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            수정    
          </button>
        </form>
        <!-- <a class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p> -->
      </div>
    </div>
  </div>
</div>
  <script>

  </script>