
    <ol class="breadcrumb" style="padding-left: 200px;padding-right: 200px;">
        <li class="pr-3"> <i class="far fa-user-circle pr-2"></i>마이페이지</li>
        <li class="breadcrumb-item"><a href="/mypage">회원정보 수정</a></li>
        <li class="breadcrumb-item"><a href="/mypage/updatePassword">비밀번호 변경</a></li>
        <li class="breadcrumb-item"><a href="/mypage/withdrawUser">탈퇴</a></li>
      </ol>
<div class="container"> 
<div class="row mainDiv">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h2 class="text-center mb-3">
          <i class="fas fa-key pr-2" ></i>비밀번호 변경
        </h2>
        <%- include("../partials/messages") %>
        <form action="/mypage/updatePassword" method="POST">
         
          <div class="form-group">
            <label for="password">현재 비밀번호</label>
            <input
            required
              type="password"
              id="passwordCur"
              name="passwordCur"
              class="form-control"
              placeholder="Input current Password"
              value="<%= typeof passwordCur != 'undefined' ? passwordCur : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">새 비밀번호</label>
            <input
            required
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Input new Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">비밀번호 확인</label>
            <input
            required
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          
          <button type="submit" class="btn btn-primary btn-block">
            변경    
          </button>
        </form>
        <!-- <a class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p> -->
      </div>
    </div>
  </div>
</div>
  <script>

  </script>