<div>
    <ol class="breadcrumb" style="padding-left: 200px;padding-right: 200px;">
        <li class="pr-3"> <i class="far fa-user-circle pr-2"></i>마이페이지</li>
        <li class="breadcrumb-item"><a href="/mypage">회원정보 수정</a></li>
        <li class="breadcrumb-item"><a href="/mypage/updatePassword">비밀번호 변경</a></li>
        <li class="breadcrumb-item"><a href="/mypage/withdrawUser">탈퇴</a></li>
      </ol>
</div>

<div class="container"> 
<div class="row mainDiv">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h2 class="text-center mb-3">
          <i class="fas fa-heart-broken pr-2" ></i>탈퇴하기
        </h2>
        <%- include("../partials/messages") %>
        <form >
          <!-- action="/mypage/withdrawUser" method="POST" -->
          <div class="form-group">
            <label for="password"> 비밀번호</label>
            <input
            required
              type="password"
              id="passwordCur"
              name="passwordCur"
              class="form-control"
              placeholder="Input current Password"
            />
          </div>
          <small>회원 탈퇴시, 게시글과 댓글은 자동으로 삭제되지 않습니다.</small>
          <button type="button" class="btn btn-primary btn-block" onclick="withdrawUser()">
            탈퇴하기    
          </button>
        </form>
        <!-- <a class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p> -->
      </div>
    </div>
  </div>
</div>
  <script>
    function withdrawUser(){
      if(confirm('정말로 탈퇴하시겠습니까?')){
      fetch('/membership/isPresident')
      .then(res=>res.json())
      .then(memberships=>{
        if(memberships.length > 0){
          alert('운영중인 클럽이 존재합니다. \r\n운영자 권한위임 혹은 클럽삭제 후 회원탈퇴 가능합니다.');
          return;
        }else{
          
          const password = document.getElementById('passwordCur').value;
          location.href="/mypage/withdrawUserLast/"+password;
        }
      });

    }//if
    }
  </script>