
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/javascripts/logic/postingLogic.js"></script>


<div class="container">
    <% include ./jumbo %>

    <div class="row">
        
        <% include ./sidemenu %>

        <div class="col-md-9 " id="contentDiv" >

            <div class="card mb-3" id="mainCardDiv" >
                <h5 class="card-header"><%= club.intro %></h5>
                <img src="<%=club.image%>" alt="" class="card-image-bottom" style="height: 600px;">
            </div>

        </div>
        


    </div>
    
</div>
<div style="height: 500px;">

</div>
<style>
    
</style>

<script>
    $('.list-group-item').click(e=>{
        const aArr = document.getElementsByClassName('list-group-item');
        for(i in aArr){
            aArr[i].className = 'list-group-item list-group-item-action  ';
        }
        const a = e.currentTarget
        a.className += 'active';
    });

    $(document).ready(function() {
//   $('#summernote').summernote({height: 500});
});
</script>