<div class="jumbotron mt-1" style="text-align: center;background-color: white">
    <h1 ><a href="/clubWindow/main/<%=club.id%>" style="color:black" class="clubName"> <%= club.name %> </a></h1>
</div>

<hr>