
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/javascripts/logic/postingLogic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<!-- 썸머노트 -->
<!-- include libraries(jQuery, bootstrap) -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<!-- 썸머노트 -->


<div class="container">
    <% include ./jumbo %>
    
    <div class="row">
        
        <% include ./sidemenu %>

        <div class="col-md-9 " id="contentDiv" >

            <div class="card">
                <div class="card-body">
                    
                    <div class="d-flex bd-highlight ">
                        <div class="mr-auto bd-highlight"><mark style="font-weight: bold;font-size: 1.4em;"><%=posting.boardId.name%></mark></div>
                        <% if(user.id == posting.memId.id) { %>
                        <div class="pr-2 bd-highlight"><button class="btn btn-outline-primary" onclick="goToPostingUpdatePage()">수정</button></div>
                        <div class="pr-2 bd-highlight"><button class="btn btn-outline-primary" onclick="removePosting('<%= posting.id %>','<%=nowPage%>')">삭제</button></div>
                        <% } %>
                        <div class="pr-2 bd-highlight"><button class="btn btn-outline-primary" onclick="goToPostingList('<%=nowPage%>')">목록</button></div>
                    </div>

                    <hr>

                    <div class="pb-3 d-flex bd-highlight" style="border-bottom: 1px solid gray; border-bottom-style: dashed">
                        <div class="mr-auto bd-highlight"><%=posting.title%> </div>
                        <div class="pr-2 bd-highlight">조회 <%= posting.click %></div>
                        <!-- <div class="pr-2 bd-highlight">좋아요 <%= posting.like %>  <a href="#" style="color:red"><i class="far fa-heart "></i></a></div> -->
                    </div>
                    <div class="pt-3 d-flex bd-highlight">
                        <div class="p-2 mr-auto bd-highlight" style="font-weight: bold;"><i class="fas fa-user-circle mr-2"></i><%= posting.memId.nickname%></div>
                        <div class="pr-2 bd-highlight" id="datespan"></div>
                    </div>
                     
                    <div class="p-5">
                    <div id="postingContent" style="display: inline;"></div>
                     </div>
                </div>

                <!--댓글-->

                <div id="commentDiv" style="background-color: #f0f1f5;" class="p-4">

                    <div id="comments" class="">

                         <!--댓글 한개-->
                         <% for (comment of comments)  { %>
                            <div class="d-flex bd-highlight">
                                <div class="p-2 bd-highlight" style="font-weight: bold;"><i class="fas fa-user-circle mr-2" ></i><%= comment.memId.nickname%></div>
                                <div class="p-2 bd-highlight" id="commentDateSpan"><small><%= comment.writtendate.yyyymmdd()%></small></div>
                                <% if(user.id == comment.memId.id) {%>
                                <div class="ml-auto p-2 bd-highlight">
                                    <a id="modifyBtn<%= comment.id %>" href="javascript:setModifyComment('<%=comment.id%>','<%=comment.content%>')">수정 | </a>
                                    <a href="javascript:removeComment('<%=comment.id%>')">삭제</a>
                                </div>
                                <% } %>
                            </div>
                            <p class="p-2"><%= comment.content %></p>
    
                            <!--수정폼-->
                            <div id="modifyForm<%= comment.id %>" style="display: none;">
                                <div class="p-3" style="background-color: white;border:1px solid gainsboro">
                                    <form >
                                        <div class="form-group">
                                            <textarea  class="form-control" id="commentModifyContent<%=comment.id%>" rows="3" style="border:none" placeholder="인터넷은 우리가 함께 만들어가는 공간입니다. 댓글 작성시 타인에 대한 배려를 담아주세요."><%=comment.content%></textarea>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-end ">
                                        <button type="button" class="btn btn-success" onclick="modifyComment('<%=comment.id%>')">수정</button>
                                    </div>
                                </div>
                            </div>
                            <!--수정폼-->
    
                            <hr>
                            <% } %>
                            <!--댓글 한개-->

                    </div>

                    <div class="p-3" style="background-color: white;border:1px solid gainsboro">
                        <form >
                            <div class="form-group">
                                <textarea class="form-control" id="exampleTextarea" rows="3" style="border:none" placeholder="인터넷은 우리가 함께 만들어가는 공간입니다. 댓글 작성시 타인에 대한 배려를 담아주세요."></textarea>
                              </div>
                        </form>
                        <div class="d-flex justify-content-end ">
                            <button type="button" class="btn btn-success">등록</button>
                        </div>
                    </div>
                </div>
                
            </div>

          

              
        </div>
        


    </div>
    
</div>
<div style="height: 500px;" >
    <div id="clubId" style="color:white"><%=club.id%></div>
</div>


<style>
    #postingContent{
        display:inline;
        position: relative;
    }

    img{
       max-width: 100%;
    }
</style>

<script>


    function transferHtml(content){
        return $('<div />').html(content).text();
    }

    $(document).ready(function() {
        document.getElementById('postingContent').innerHTML = transferHtml('<%=posting.content%>');
        document.getElementById('datespan').innerHTML = moment("<%=posting.writtendate%>").format('YYYY-MM-DD HH:mm:ss');
    });

    function goToPostingUpdatePage(postingId){

        fetch(`/posting/find/${postingId}`)
        .then(result=>{
            let html = `
  <form class="mt-4">
                <div class="form-group">
                    <input
                      required="required"
                      type="title"
                      id="title"
                      name="title"
                      class="form-control"
                      placeholder="게시글 제목을 입력하세요."
                      value="<%=posting.title%>"
                    />
                </div>
                <textarea id="summernote" name="editordata"><%=posting.content%></textarea>
                <div class="d-flex justify-content-center m-4">
                    <input type="button" onclick="cancelWrite()" value="취소" class="btn btn-outline-danger mr-2">
                    <input type="button" onclick="updatePosting(this.form)" value="수정" class="btn btn-outline-info">
                </div>
   </form> 
  `;

      document.getElementById('contentDiv').innerHTML = html;
      $('#summernote').summernote({height: 400});
        });


}

function cancelWrite(){
    if(confirm('취소하시겠습니까? 변경내용이 저장되지 않습니다.')){
        const postingId = '<%=posting.id%>';
        location.href = document.referrer;
    }
}

function updatePosting(form){
  const title = form.title.value;
  const content = $('#summernote').summernote('code');
  const boardId = '<%=posting.boardId._id%>';
  const clubId = '<%=club.id%>';
  const postingId = '<%=posting.id%>';

  if(title.length == 0){
      alert('제목을 입력하세요!');
      return;
  }
  if(content == '<p><br></p>'){
      alert('내용을 입력하세요!');
      return;
  }

  let postdata = {
      'title' : title , 
      'content' : content,
      'boardId' : boardId,
      'clubId' : clubId,
      'postingId' : postingId
  };

  fetch('/posting/update', {
  method: 'post',
  headers: {
  'Accept': 'application/json, text/plain, */*',
  'Content-Type': 'application/json'
  },
  body: JSON.stringify(postdata)
  })
  .then(result=>
    {window.location.reload();}
  );


}

function goToPostingInfo(postingId){
  const clubId = '<%=club.id%>';

  location.href = `/clubWindow/mypostingInfo?clubId=${clubId}&postingId=${postingId}`;

}

function goToPostingList(nowpage){
    const clubId = '<%=club.id%>';
    
    location.href=`/clubWindow/myposting/${clubId}?nowPage=${nowpage}`;
}



</script>