
<div class="container">
    <% include ./jumbo %>
    <div class="d-flex justify-content-center" style="padding-top: 50px;">
        <div class="card border-success mb-3 d-flex justify-content-center" style="width: 500px;">
            <div class="card-header d-flex justify-content-center"><h2>비회원 알림</h2></div>
            <div class="card-body ">
                <h4>비회원은 이용이 불가능합니다.</h4>
                <h4 class="">가입 후 이용해주세요.</h4>
                <button type="button" class="btn btn-info float-right" onclick="registerClubMain('<%=club.id%>')" >가입하기</button>
            </div>
        </div>
    </div>

</div>


<script>
    function registerClubMain(id){
       if(confirm('가입하시겠습니까?')){
           fetch('/membership/registerFetch/'+id)
               .then(response => {
                   location.href = `/clubwindow/main/${id}`;
               });
               
       }
    }
</script>