<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/javascripts/logic/postingLogic.js"></script>

<!-- 썸머노트 -->
<!-- include libraries(jQuery, bootstrap) -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<!-- 썸머노트 -->
<style>
    .postingTitle {
        color: black;
    }
</style>

<div class="container">

    <% include ./jumbo %>

    <div class="row">

        <% include ./sidemenu %>

        <div class="col-md-9 " id="contentDiv">
            <h3><% if(typeof boardOne == 'undefined'){ %>
                 등록한 게시글
                 <%} else{%>
                  <%=boardOne.name%>
                 <% }%>
                 <span class="badge badge-pill badge-success"><%=postingsCount%></span>
            </h3>
            <div id="jsDiv">
                <div class="mb-4"></div>
                <table class="table table-hover">
                    <tr>
                        <thead>
                            <th style="width:450px;text-align: center;">글제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>조회</th>
                        </thead>
                    </tr>
                    <tbody id="postingTableBody">
                        <%if(postings != null) { %>
                            
                        <% for(posting of postings){ %>
                            <tr >
                            <td><a href="javascript:goToPostingInfoWithPage('<%=posting.id%>', Number('<%=nowPage%>'));" class="postingTitle">
                                        <%= posting.title %> </a>
                                        <% if(posting.commentCount > 0) {%>
                                        <span style="color:red">[<%=posting.commentCount%>]</span>
                                        <% } %>
                                </td>
                                <td> <%= posting.memId.nickname %> </td>
                                <td> <%= posting.writtendate.yyyymmdd() %> </td>
                                <td> <%= posting.click %> </td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>

                <hr>

                <!--글쓰기 버튼-->
                <% if( typeof boardOne != 'undefined' ) {%>
                <div class="text-right">
                    <button onclick="goToPostingWritePage()" class="btn btn-outline-success"" align=" right"><i
                            class="fas fa-edit mx-1"></i>글쓰기</button>
                </div>

                <hr>
                <% } %>

                <!--페이지네이션-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" id="pagingUl">

                    </ul>
                </nav>

                <hr>

                <!--검색필터-->
                <% if( typeof boardOne != 'undefined' ) {%>
                <div class="d-flex justify-content-center">
                    <form class="form-inline" name="postingFindForm" style="margin:auto">
                        <select class="form-control" name="postingSelector">
                            <option value="title">글제목</option>
                            <option value="contents">글내용</option>
                            <option value="writer">작성자</option>
                        </select>
                        <input class="form-control mx-1" type="text" name="word" placeholder="" id="postingFinder">
                        <input class="btn btn btn-dark " type="button" value="Find"
                            onclick="setPostingSelectList(this.form)" />

                    </form>
                </div>
                <% } %>


            </div>


        </div>



    </div>

</div>
<div style="height: 500px;">

</div>
<div id="isboard" style="color:white">
    <% if( typeof boardId != 'undefined' ) {%>
        <%=boardId%>
        <% } %>
</div>

<script>

    $(document).ready(function () {
        //  $('jumbotron').style.backgroundImage = url("\..\..\public\images\club\beach.jpg");
        const nowPage = Number(`<%=nowPage%>`);
        const postingsCount = Number(`<%=postingsCount%>`);//전체 포스팅수
        const countInPage = Number(`<%=postings.length%>`);//지금페이지에 뿌려지는 포스팅갯수
        if(countInPage > 0){
            pagination(nowPage,postingsCount);
        }else{
            paging(nowPage-1);
        }
    });

    function goToPostingInfoWithPage(postingId,nowPage) {
        const clubId = '<%=club.id%>';
        const boardId = `<%=typeof boardId != 'undefined' ? boardId : '' %>`;


        if(boardId != ''){
            location.href = `/clubWindow/postingInfo?boardId=${boardId}&clubId=${clubId}&postingId=${postingId}&nowPage=${nowPage}`;
        }else{
            location.href = `/clubWindow/mypostingInfo?clubId=${clubId}&postingId=${postingId}&nowPage=${nowPage}`;
        }
    }

    function goToPostingInfo(postingId) {
        const boardId = '<%=typeof boardId != "undefined" ? boardId : null%>';
        const clubId = '<%=club.id%>';

        location.href = `/clubWindow/postingInfo?boardId=${boardId}&clubId=${clubId}&postingId=${postingId}`;
    }

    function goToPostingWritePage() {
        let html = `
  <form class="mt-4">
                <div class="form-group">
                    <input
                      required="required"
                      type="title"
                      id="title"
                      name="title"
                      class="form-control"
                      placeholder="게시글 제목을 입력하세요."
                    />
                </div>
                <textarea id="summernote" name="editordata"></textarea>
                <div class="d-flex justify-content-center m-4">
                    <input type="button" onclick="cancelWrite()" value="취소" class="btn btn-outline-danger mr-2">
                    <input type="button" onclick="registerPosting(this.form)" value="작성완료" class="btn btn-outline-info">
                </div>
   </form> 
  `;

        document.getElementById('contentDiv').innerHTML = html;
        $('#summernote').summernote({ height: 400 });
    }

    function cancelWrite() {
        if (confirm('취소하시겠습니까? 작성내용이 저장되지 않습니다.')) {
            location.href = '/clubWindow/posting?boardId=<%=board.id%>&clubId=<%=club.id%>';
        }
    }

    function registerPosting(form) {
        const title = form.title.value;
        const content = $('#summernote').summernote('code');
        const boardId = '<%=typeof boardId != "undefined" ? boardId : null%>';
        const clubId = '<%=club.id%>';

        if (title.length == 0) {
            alert('제목을 입력하세요!');
            return;
        }
        if (content == '<p><br></p>') {
            alert('내용을 입력하세요!');
            return;
        }

        let postdata = {
            'title': title,
            'content': content,
            'boardId': boardId,
            'clubId': clubId
        };

        fetch('/posting/register', {
            method: 'post',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(postdata)
        })
            .then(result =>
                result.json()
            )
            .then(posting => {
                goToPostingInfo(posting._id);
            });


    }






    function paging( nowPage ) {//페이지네이션 클릭시, 리스트와 페이지네이션 다시 세팅해주는 함수
        const boardId = '<%=typeof boardId != "undefined" ? boardId : null%>';
        if(boardId != ''){
            fetch(`/posting/findPostings?boardId=${boardId}&page=${nowPage}`)
            .then(res => { return res.json() })
            .then(postings => {
                postingListMaking(postings,nowPage);
                pagination(nowPage, Number(`<%=postingsCount%>`));
            });
        }else{//내가 쓴 글 보기  
            fetch(`/posting/findMyPostings?clubId=<%=club.id%>&page=${nowPage}`)
            .then(res => { return res.json() })
            .then(postings => {
                postingListMaking(postings,nowPage);
                pagination(nowPage, Number(`<%=postingsCount%>`));
            });
        }
        
    }

  function getBoardId(){
      return  '<%=typeof boardId != "undefined" ? boardId : null%>';
  }


</script>