<div class="col-md-3">

            <!--나의 활동-->
            <div class="mb-2 p-3"style="border-top:solid; border-bottom: solid;">
                <h5 align="center"><i class="fab fa-gratipay mx-1"></i>나의 활동</h5>
                <hr>
                <h5><%= user.nickname %></h5>
                <a href="/clubWindow/myposting/<%=club.id%>">내가 쓴 글 보기</a>
            </div>

            <!--게시판 목록-->
            <div class="list-group">
                <% for(board of boards) { %>
                    <a href="/clubWindow/posting?boardId=<%=board.id%>&clubId=<%=club.id%>" 
                        class="list-group-item list-group-item-action <%= typeof boardId != 'undefined' && board.id===boardId? 'active': ''; %> "
                        >
                        <%= board.name %>
                    </a>
                <% } %>
            </div>
</div>